a {
    border: none;
    background: transparent;
    border-bottom: solid 1px black;
    border-radius: 0px;
}


button {
    border: none;
    background: transparent;
    border-radius: 0px;
}

.card-view a,
.card-view button {
    margin-right: 50px;
    border: none;
    background: transparent;
    border-bottom: solid 1px black;
    border-radius: 0px;
}